input {
	padding: 10px 20px;
	width: 300px;
	border-radius: 10px;
	font-size: 16px;
	margin-right: 296px;
	font-weight: 600;
	border: none;

	&:focus {
		border: 1px solid rgb(189, 187, 187);
	}
}

.image {
	position: absolute;
	opacity: 0;
	top: 110px;
	left: 535px;
	z-index: 10;
}

.close {
	cursor: pointer;
	position: absolute;
	top: 110px;
	left: 810px;
	opacity: 0.5;
	transition: all .3s ease;

	&:hover {
		opacity: 1;
	}
}